{% extends "home_base.html"%}

{% block container %}
<br>
<br>
<br>
<br>

          <div class="inner cover">
          {% load static %}
          <img src="{% static "img/TOOL-BOX-PES-FULL.png" %}" alt="Tool Box PES" width="200" height="200"/>
            <br>
            <br>
            <p class="lead" align="center">Aquí encontrarás los servicios que necesita tu hogar u empresa.</p>

<h2><div align ="left">NOSOTROS</div></h2>
<HR width=100% align="center">
<div align="justify">
<h3>¿Quiénes somos?</h3><h4>
TOOL BOX PES, es una empresa de tecnología. Usando la aplicación,  los usuarios que necesitan servicios de asistencia en hogares y empresas; en las áreas de cerrajería, plomería, carpintería, electricidad, jardinería, pintura, plagas, techo, paredes y pisos, entre otros, encuentran fácilmente técnicos especializados en cada una de las áreas de servicio que ofrecemos, prestando un servicio en el menor tiempo para garantizar una ayuda personalizada y un seguimiento adecuado a su necesidad, con los más altos estándares de calidad a un precio justo. </div></h4>
<br>
<div align="justify">
<h3>Misión</h3><h4>
TOOL BOX PES, es una empresa intermediaria que presta el canal de comunicación más efectivo entre el cliente y el técnico certificado, además ofrecer ayuda a sus clientes, estilo, confort, seguridad, contribuye con la calidad de vida de los usuarios.

Estamos disponibles para atender sus necesidades las 24 horas, los 365 días del año en la ciudad de Pereira y Dosquebradas. Puedes solicitar el servicio en cualquier momento utilizando la aplicación móvil. </div></h4>
<br>
<div align="justify">
<h3>Visión</h3><h4>
Convertir a TOOL BOX PES, para el año 2020, en un negocio tan eficiente y con servicios tan requeridos, que llegue a ser utilizado por más gente de esta manera incrementar los ingresos y servicio. Será la mejor opción que existe para nuestros clientes y socios.</div></h4>
<br>
<div align="justify">
<h3>Recurso Humano</h3><h4>
Personal técnico y profesional capacitado, con varios años de experiencia, amparados con la seguridad social vigente.
Personal certificado.</div></h4>
<hr>           
{% endblock %}