{% extends "home_base.html"%}
{% block title %} Recuperar Contraseña {% endblock %}
{% block container %}
<h2><div align ="left">Restablece tu contraseña</div></h2>
<HR width=100% align="center">
<br>
<br>
<br>
<br>
<br>
<br>
    <div class="row">
    <div class="col-xs-2 col-sm-2"></div>
    <div class="col-xs-8 col-sm-8">
     <div class="alert alert-danger" role="alert">
      <h4><center>La información ingresada ha sido verificada, Te hemos enviado un correo electrónico con tu nueva contraseña.</h4></center></div>
     <br>

      <center><a class="btn btn-primary btn-lg" href="{% url 'login_page' %}" role="button">Iniciar Sesión</a>
      </center>
    </center>
    </center>
          </div>
    </div>
    </div>
    </div>
      <br>
{% endblock %}