{% extends "home_base.html"%}
{% block title %} Recuperar Contraseña {% endblock %}
{% block container %}
{% if error %}
<div class="alert alert-danger alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert">
    <span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span>
  </button>
  <strong>Error:</strong> {{ error }}
</div>
{% endif %}

<br>
<br>
<br>
<br>

<h2><div align ="left">Recupera tu cuenta</div></h2>
<HR width=100% align="center">
  <center class="m-b-1"><h3>Verifica tu información personal.</h3></center>
      <br>
<div class="col-xs-3 col-md-3">
</div>
<div class="col-xs-6 col-md-6">   
<div class="row">
      <form class="form-signin m-x-auto" method="post">
        {% csrf_token %}
        <div class="form-group">
          <label for="input-NombreUsuario" class="sr-only">Nombre de Usuario</label>
          <input name="username" type="text" id="input-NombreUsuario" class="form-control" placeholder="Nombre de Usuario" required>
          <br>
          <label for="input-NumeroId" class="sr-only">Número de Identificación</label>
          <input name="document_number" type="text" id="input-NumeroId" class="form-control" placeholder="Número de Identificación" required>
          <br>
          <label for="input-Cargo" class="sr-only">Tipo de usuario</label>
          <input name="role" type="text" id="input-Cargo" class="form-control" placeholder="Cargo" required>
          <br>
          <label for="input-email" class="sr-only">Email</label>
          <input name="email" type="email" id="input-email" class="form-control" placeholder="Email" required>
        </div>
        <button class="btn btn-primary btn-block" type="submit">Recuperar</button>
      </form>
      <br>
      <center class="m-t-1"><a href="{% url 'login_page' %}" class="btn btn-md btn-default">Iniciar sesión</a><center>
      <br>
      <div class="row">
      <div class="col-md-6 col-md-offset-3">
      </div>
      </div>

     <div class="alert alert-danger" role="alert">
      La información será enviada al administrador, más tarde se enviará a su correo la nueva contraseña</div>

{% endblock %}